.recipe-name{
    text-align: center;
    color: black;
    background-color: green;
    font-size: 50px;
}

#visual{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}